PORT=7000
DATABASE_URL="sqlite:test.sqlite"
# Should the admin-ui be enabled?
ADMIN_UI="true"
ADMIN_UI_NEEDS_AUTHENTICATION="false"
ADMIN_UI_DEFAULT_USERNAME=""
ADMIN_UI_DEFAULT_PASSWORD=""
ADMIN_AUTH_SESSION_SECRET=""
