# Installed npm modules
node_modules/

# Ignore .env
.env

# Ignore any SQLite databases
*.sqlite

# Ignore any files in special "ignore" dir
ignore/

# Ignore built files
dist/

# Ignore any temporary created files
temp/

# Ignore generated adminjs folder
.adminjs/

# Ignore logs
logs/

# Playwright
test-results/
playwright-report/
playwright/.cache/
